# Build directory
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
main
# Compiled binaries
/TextEditor
*.o
*.obj
*.so
*.a
*.exe
*.out

# Editor/IDE files
.vscode/
.idea/
*.swp
*~

# Logs and temporary files
*.log
*.tmp
*.bak

# MacOS files
.DS_Store

# Debugger files
*.dSYM/

# Optional: user config
*.user
